<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/google-map/google-map.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="my-googleWebComponents1">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style>
      :host {
        display: block;
        padding: 16px;
      }

      google-map {
        height: 400px;
      }
    </style>

    <h1>Google Map</h1>

    <!-- 
    NO FUNCIONA LA FUNCIÓN DE GEOLOCALIZACIÓN. 
    NO SE ASIGNAN LAS COORDENADAS DE LA POSICION AL MAPA PARA PODER FIJARLAS.

    <paper-button raised onclick="localizame()">Localízame</paper-button> 
    -->
    <google-map api-key="AIzaSyA3mhp3Gkwrc85TB8b9kaJxW7zsaq1Dqd0"></google-map>
  </template>
  <!-- Creates the element's prototype and registers it -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script>
    Polymer({
      is: 'my-googleWebComponents1'
    });

    var latitud, longitud = 0;
          
    function localizame() {
        if (navigator.geolocation) { /* Si el navegador tiene geolocalizacion */
          navigator.geolocation.getCurrentPosition(coordenadas, errores);
        }else{
            alert('Oops! Tu navegador no soporta geolocalización');
        }
    }
    
    function coordenadas(position) {
        latitud = position.coords.latitude; /*Guardamos nuestra latitud*/
        longitud = position.coords.longitude; /*Guardamos nuestra longitud*/
        cambiarCoordenadasMapa();
    }

    function errores(err) {
        /*Controlamos los posibles errores */
        if (err.code == 0) {
          alert("Oops! Algo ha salido mal");
        }
        if (err.code == 1) {
          alert("Oops! No has aceptado compartir tu posición");
        }
        if (err.code == 2) {
          alert("Oops! No se puede obtener la posición actual");
        }
        if (err.code == 3) {
          alert("Oops! Hemos superado el tiempo de espera");
        }
    }

    function cambiarCoordenadasMapa(){
      console.log("Geolocalizando...");
      var map = $('google-map');
      //var map = document.querySelector('google-map');
      map.latitude = latitud;
      map.longitude = longitud;
      map.zoom = 15;
      console.log(map);
    }

  </script>
</dom-module>